.cart-checkout {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
}
.cart-checkout > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}
.btn-coupon {
  margin: 0;
  padding: 0;
}