.grid-20-80 {
  background-color: var(--color-grey-light-2);
  
}
.grid-4-column {
  margin-left: 1rem;
}
@media screen and (max-width: 1200px) {
  .grid-4-column {
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
  }
}
@media screen and (max-width: 1185px) {
  .grid-4-column {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
}
@media screen and (max-width: 520px) {
  .grid-4-column {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
}